.ChatInput {
    width: 95%;
    display: block;
    margin: auto;

    input {
        padding: 10px;
        margin: 0;
        background-color: #bbbbbb;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 98%;
        margin-top: 20px;
        overflow-anchor: auto;

    }
}